<div>
    <h1>Reestablece tu contraseña</h1>
    <p>Escribe tu correo para recibir un mail de recuperación</p>
    <form id="passForm">
        <label>Correo electronico</label>
        <input name="email">
        <br/>
        <input type="submit">
    </form>
</div>
<script src="/js/recover.js"></script>