<div>
    <h1>Gracias por tu compra {{user.first_name}}!</h1>

    <p>El monto toal de la compra fueron ${{userTiket.amount}}</p>
    <p>Tu codigo de rastreo es: {{userTiket.code}}</p> 
    <p>Tu factura fue enviada a: {{userTiket.purchaser}}</p> 

    <button><a href="http://localhost:8080/products">Volver a Productos</a></button>

</div>




